% if media["status"] == 1:
        % if media["fanart"] is None:
            <div alt="" class="pb-img placeholder">
            </div>
        % else:
            <img alt="" class="pb-img" src="${media['fanart']}">
        % endif
    <div class="post-body-table img-adjacent">
        <div class="pb-r ">
            <div class="pb-c  pb-l">File</div>
            <div class="pb-c  pb-d">${media["filename"]}</div>
        </div>
        <div class="pb-r ">
            <div class="pb-c  pb-l">Released</div>
            <div class="pb-c  pb-d">${media['released']}</div>
        </div>
        <div class="pb-r ">
            <div class="pb-c  pb-l">Runtime</div>
            <div class="pb-c  pb-d">${media['runtime']}</div>
        </div>
        <div class="pb-r ">
            <div class="pb-c  pb-l">Plot</div>
            <div class="pb-c  pb-d">${media['desc']}</div>
        </div>
        <div class="pb-r ">
            <div class="pb-c  pb-l pb-e">Links</div>
            <div class="pb-c  pb-d pb-e"><a href="http://www.imdb.com/title/${media['imdb']}" target="_blank">imdb</a></div>
        </div>
    </div>
% endif