<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="StyleSheet" type="text/css" href="/styles.css"/>
    <title></title>

    <script type="text/javascript">
        var selectionDetails = null;
        var selectionFullEpisode = null;
        var tempImg = [];

        function init()
        {
            selectionDetails = document.getElementById("details");
            if(selectionDetails != null)
                selectionDetails.appendChild(document.createTextNode(""))

            selectionFullEpisode = document.getElementById("fulltitle");
            if(selectionFullEpisode != null)
                selectionFullEpisode.appendChild(document.createTextNode(""))

            var preloads = "${show["fanart"]}".split(",");

            for(var x=0;x<preloads.length;x++) {
                tempImg[x] = new Image();
                tempImg[x].src = "/images/tv/" + preloads[x];
            }
        }

        function changeSelection(title,desc)
        {
            if(selectionDetails != null)
                selectionDetails.firstChild.nodeValue = desc;

            if(selectionFullEpisode != null)
                selectionFullEpisode.firstChild.nodeValue = title;
        }

        function selectedMedia(id)
        {
            var expiredTime = new Date(); //expires in 1 minute (60000 miliseconds)
            location.replace("/tv/episode?show=${show["id"]}&season=${season}&id=" + id + "&page=${page}&play=true&date=" + escape(expiredTime.toUTCString()));
        }

        function next(page)
        {
            if(page < 0) return;

            location.replace("/tv/episode?show=${show["id"]}&season=${season}&page=" + page + "&play=false" + "&${filterUrl}");
        }

        function prev(page)
        {
            if(page < 0) return;

            location.replace("/tv/episode?show=${show["id"]}&season=${season}&page=" + page + "&play=false" + "&${filterUrl}");
        }

    </script>

</head>
<body background="/images/background_3.jpg" bgproperties="fixed" onloadset="${'tvid_' + id if play == 'true' and id is not None else 'tvname_0'}">
<%namespace file="/filterBar.html" name="filterBar"/>
<div class="fanframe_fanart">
    <img src="/images/tv/${show['fanart']}" id="fanart_img" />
</div>
<div class="fanframe_overlay">
    <img src="/images/ClassicFrame_Fanart_small.png" id="fanart_frame" />
</div>

<table>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <!-- image -->
        <td width="660" valign="top">
            <table>
                <tr>
                    <td height="375"></td>
                </tr>
                <tr>
                    <td valign="top" align="center" width="600">
                        <span id="description" class="description">${show["fulltitle"]}</span>
                        <br />
                        <span id="season" class="season">Season ${season}</span>
                        <br />
                        <span id="fulltitle" class="fulltitle"></span>
                    </td>
                </tr>
            </table>
        </td>

        <!-- NAV -->
        <td valign="top">
            ${filterBar.displayNav('tv', 'tvname_0', '', True)}
        </td>

        <!-- episodes -->
        <td valign="top">
            <table >
                % for _show, title, path, desc, fanart, _season, added, showsmall, fullshow, watchedicon, watcheddate, epsid, fulltitle in episodes:
                <tr>
                    <td class="watch" align="right" valign="top"></td>
                    <td><a href="Javascript:;" name="tvname_${loop.index}" class="mainlink"
                           onclick="selectedMedia(${epsid});"
                           onfocus="changeSelection('${fulltitle|h,x}', '${desc|h,x}');"
                           ONKEYLEFTSET="navHome" ONKEYRIGHTSET="navHome"
                        % if loop.last and totalPages > 0:
                        ONKEYDOWNSET="PGDWN"
                        % elif loop.last:
                        ONKEYDOWNSET="tvname_0"
                        % else:
                        ONKEYDOWNSET="tvname_${loop.index+1}"
                        % endif

                        % if loop.first and totalPages > 0:
                        ONKEYUPSET="PGUP"
                        % elif loop.first:
                        ONKEYUPSET="tvname_${len(episodes)-1}"
                        % else:
                        ONKEYUPSET="tvname_${loop.index-1}"
                        % endif
                        >
                        <img src="${watchedicon}" border="0" onfocussrc="/images/selected.png" id="${epsid}" />
                        </a></td>
                    <td valign="top"><a vod class="mainlink" name="tvid_${epsid}" href="${path.replace('\\','/')}"
                            ONKEYLEFTSET="tvname_${loop.index}" ONKEYRIGHTSET="navHome"
                        % if loop.last and totalPages > 0:
                        ONKEYDOWNSET="PGDWN"
                        % elif loop.last:
                        ONKEYDOWNSET="tvname_0"
                        % else:
                        ONKEYDOWNSET="tvname_${loop.index+1}"
                        % endif

                        % if loop.first and totalPages > 0:
                        ONKEYUPSET="PGUP"
                        % elif loop.first:
                        ONKEYUPSET="tvname_${len(episodes)-1}"
                        % else:
                        ONKEYUPSET="tvname_${loop.index-1}"
                        % endif
                        ONFOCUSLOAD >
                        ${title[:25]}
                    </a></td>
                    <td class="lastwatched" valign="top" align="right">${watcheddate}</td>
                </tr>
                % endfor
                <tr>
                    <td colspan="4" height="20"></td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <span class="currentPage">${page+1}</span>
                        <span class="totalPage"> of ${totalPages+1}</span>
                    </td>
                </tr>
            </table>
        </td>

        <!-- filter bar -->
        <td width="40"></td>
        <td valign="top">
        </td>
    </tr>
</table>

<table>
    <tr>
        <td height="60"></td>
    </tr>
    <tr>
        <!-- descriptions -->
        <td><div id="details" class="details"></div></td>
    </tr>
</table>
<a href="Javascript:prev(${prevPage}, '${id}');" onfocus="prev(${prevPage}, '${id}');" name="PGUP" TVID="PGUP"></a>
<a href="Javascript:next(${nextPage}, '${id}');" onfocus="next(${nextPage}, '${id}');" name="PGDWN" TVID="PGDN"></a>
<script type="text/javascript">
    init();
</script>

</body>
</html>