<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="StyleSheet" type="text/css" href="/styles.css"/>
    <title></title>

    <script type="text/javascript">
        var selectionFullTitle = null;
        var selectionSeasons = null;
        var selectionEpisodeCount = null;
        var selectionFanart = null;
        var tempImg = [];

        function init()
        {
            selectionFanart = document.getElementById("fanart_img");

            selectionFullTitle = document.getElementById("fullTitle");
            if(selectionFullTitle != null)
                selectionFullTitle.appendChild(document.createTextNode(""));

            selectionSeasons = document.getElementById("seasons");
            if(selectionSeasons != null)
                selectionSeasons.appendChild(document.createTextNode(""));

            selectionEpisodeCount = document.getElementById("episodeCount");
            if(selectionEpisodeCount != null)
                selectionEpisodeCount.appendChild(document.createTextNode(""));

            var preloads = "${show['show']['fanart']}".split(",");

            for(var x=0;x<preloads.length;x++) {
                tempImg[x] = new Image();
                tempImg[x].src = "/images/tv/" + preloads[x];
            }
        }

        function changeSelection(season, episodes)
        {
            if(season == -1)
            {
                season = '?';
            }

            if(selectionSeasons != null)
                selectionSeasons.firstChild.nodeValue = 'Season: ' + season;

            if(selectionEpisodeCount != null)
                selectionEpisodeCount.firstChild.nodeValue = 'Episodes: ' + episodes;
        }

        function next(page, id)
        {
            if(page < 0) return;

            location.replace("/tv/season?id=" + id + "&page=" + page);
        }

        function prev(page, id)
        {
            if(page < 0) return;

            location.replace("/tv/season?id=" + id + "&page=" + page);
        }

    </script>

</head>
<body background="/images/background_3.jpg" bgproperties="fixed" onloadset="tvname_0">
<%namespace file="/filterBar.html" name="filterBar"/>
<div class="fanframe_fanart">
    <img src="/images/tv/${show['show']['fanart']}" id="fanart_img" />
</div>
<div class="fanframe_overlay">
    <img src="/images/ClassicFrame_Fanart_small.png" id="fanart_frame" />
</div>

<table>
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <!-- image -->
        <td width="660" valign="top">
            <table>
                <tr>
                    <td height="375"></td>
                </tr>
                <tr>
                    <td valign="top" align="center" width="600">
                        <span id="fullTitle" class="description">${show['show']['fulltitle'][:60]}</span>
                        <br />
                        <span id="seasons" class="season"></span>
                        <br />
                        <span id="episodeCount" class="fulltitle"></span>
                    </td>
                </tr>
            </table>
        </td>

        <!-- NAV -->
        <td valign="top">
            ${filterBar.displayNav('tv', 'tvname_0', '', False)}
        </td>

        <!-- episodes -->
        <td valign="top">
            <table >
                % for season, episodecount, added in content:
                <tr>
                    <td class="watch" align="right" valign="top"></td>
                    <td><a href="/tv/episode?show=${show['show']['id']}&season=${season}&page=0&play=false"
                           name="tvname_${loop.index}"
                           class="mainlink"
                           onfocus="changeSelection('${season}', '${episodecount}');"
                           ONKEYLEFTSET="navHome" ONKEYRIGHTSET="navHome"
                        % if loop.last and show['total'] > 0:
                        ONKEYDOWNSET="PGDWN"
                        % elif loop.last:
                        ONKEYDOWNSET="tvname_0"
                        % else:
                        ONKEYDOWNSET="tvname_${loop.index+1}"
                        % endif

                        % if loop.first and show['total'] > 0:
                        ONKEYUPSET="PGUP"
                        % elif loop.first:
                        ONKEYUPSET="tvname_${len(content)-1}"
                        % else:
                        ONKEYUPSET="tvname_${loop.index-1}"
                        % endif
                        >
                        <img src="/images/unwatched.png" border="0" onfocussrc="/images/selected.png" />
                        </a>
                    </td>
                    <td valign="top">
                        % if season == -1:
                            <a class="mainlink" href="">Unknown</a>
                        % else:
                            <a class="mainlink" href="">Season ${season}</a>
                        % endif
                    </td>
                    <td class="lastwatched" valign="top" align="right">${added}</td>
                </tr>
                % endfor
                <tr>
                    <td colspan="4" height="20"></td>
                </tr>
                <tr>
                    <td colspan="4" align="right">
                        <span class="currentPage">${show['page']+1}</span>
                        <span class="totalPage"> of ${show['total']+1}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td height="60"></td>
    </tr>
    <tr>
        <!-- descriptions -->
        <td><div id="details" class="details"></div></td>
    </tr>
</table>
<a href="Javascript:prev(${prev});" onfocus="prev(${prev}, '${show['show']['id']}');" name="PGUP" TVID="PGUP"></a>
<a href="Javascript:next(${next});" onfocus="next(${next}, '${show['show']['id']}');" name="PGDWN" TVID="PGDN"></a>
<script type="text/javascript">
    init();
</script>

</body>
</html>